<h1>All Counters</h1>
<ul id='counters'>
</ul>
<script type="text/javascript">
	data.on('child_added', function(snapshot, prev) {
		var counter = snapshot.val();
		console.log("child_added - " + counter.counter + ":" + counter.count);
		console.log("name - " + snapshot.name());
		console.log(counter);
		displayCounter(counter.counter, counter.count, snapshot.name());
	});
	function displayCounter(name, count, key) {
		console.log('appending li');
		$('<button/>', {
			text: "Add",
			click: function() {
				console.log("adding to " + key);
				data.child(key + '/count').transaction(function (current_count) {
					return current_count + 1;
				});
			}
		}).appendTo($('<li/>', {
			id: key,
			text: name + ':' + count
		}).appendTo($("#counters")));
	};

	data.on('child_changed', function (snapshot) {
		console.log("changed - " + snapshot.name());
		var counter = snapshot.val();
		$('#' + snapshot.name()).replaceWith(
			$('<li/>', {
				id: snapshot.name(),
				text: counter.counter + ':' + counter.count
			})
		);
		$('#' + snapshot.name()).append(
			$('<button/>', {
				text: "Add",
				click: function() {
					console.log("replacing " + snapshot.name());
					data.child(snapshot.name() + '/count').transaction(function (current_count) {
						return current_count + 1;
					});
				}
			}
			)
		);
	});
</script>
