<h1>All Counters</h1>
<button id="hn">Not Here Now</button>
<ul id='counters'>
</ul>
<script type="text/javascript">
$(document).ready(function () {
	data.on('child_added', function(snapshot, prev) {
		var counter = snapshot.val();
		displayCounter(counter.counter, counter.count, snapshot.name());
	});
	function displayCounter(name, count, key) {
		$('<button/>', {
			text: "Add",
			click: function() {
				data.child(key + '/count').transaction(fxn.increment_count);
			}
		}).appendTo($('<li/>', {
			id: key,
			text: name + ':' + count
		}).appendTo($("#counters")));

		$('<button/>', {
			text: "Subtract",
			click: function() {
				data.child(key + '/count').transaction(fxn.decrement_count);
			}
		}).appendTo($('#' + key));
	};

	data.on('child_changed', function (snapshot) {
		var counter = snapshot.val();
		$('#' + snapshot.name()).replaceWith(
			$('<li/>', {
				id: snapshot.name(),
				text: counter.counter + ':' + counter.count
			})
		);
		$('#' + snapshot.name()).append(
			$('<button/>', {
				text: "Add",
				click: function() {
					data.child(snapshot.name() + '/count').transaction(fxn.increment_count);
				}
			}
			)
		);
		$('#' + snapshot.name()).append(
				$('<button/>', {
					text: "Subtract",
					click: function() {
						data.child(snapshot.name() + '/count').transaction(fxn.decrement_count);
					}
				})
			);
	});
});
</script>
<script type="text/javascript">
	$('#hn').click(function () {
		$(this).text(here_now());
	});
</script>
