<!DOCTYPE html>
<html>
<head>
  <title>FirebaseSandbox</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://cdn.firebase.com/js/client/1.1.2/firebase.js"></script>
</head>
<body>
	<script type="text/javascript">
		var data = new Firebase('https://resplendent-inferno-165.firebaseIO.com/')
	</script>

<%= yield %>

</body>
</html>
